[submodule "games/farmhand"]
	path = games/farmhand
	url = https://github.com/jeremyckahn/farmhand.git
[submodule "games/farmhand-shuffle"]
	path = games/farmhand-shuffle
	url = https://github.com/jeremyckahn/farmhand-shuffle.git
[submodule "games/farmhand-match"]
	path = games/farmhand-match
	url = git@github.com:rainbowcow-studio/farmhand-match.git
[submodule "games/farmhand-go"]
	path = games/farmhand-go
	url = git@github.com:rainbowcow-studio/farmhand-go.git
